@import url("../../.cache/wal/colors-waybar.css");
@define-color fg @forground;

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: @fg;
}

tooltip {
  background: transparent;
}
tooltip label {
  color: @fg;
}

#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: @fg;
  border-bottom: 3px solid transparent;
}

#workspaces button.focused {
  background: #64727d;
  border-bottom: 3px solid white;
}

#clock {
  padding: 0 10px;
}

#user {
  padding: 0 10px;
}
